.container{
    border-bottom: 2px dashed @navigation-border;

    header{
        border-bottom: 2px dashed @navigation-border;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        .nav-section{
            a{
                font-size: 1.6rem;
                color: black;
                text-decoration: none;
                padding: 2rem;
            }
        }//items in nav bar
    }//header
}//container for top section
